{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
  <h1>Contact Us</h1>

  <h2>Contact Information</h2>
  <ul>
    <li>Email: [Your App Support Email]</li>
    <li>Phone: [Your App Support Phone Number]</li>
    <li>Address: [Your App Company Address]</li>
  </ul>

  <h2>Social Media</h2>
  <p>You can also connect with us on social media to stay updated with the latest news, feature announcements, and community discussions:</p>
  <ul>
    <li>Twitter: <a href="[Your App Twitter URL]">[Your App Twitter handle]</a></li>
    <li>Instagram: <a href="[Your App Instagram URL]">[Your App Instagram handle]</a></li>
    <li>Facebook: <a href="[Your App Facebook URL]">[Your App Facebook page]</a></li>
  </ul>

  <h2>Customer Support</h2>
  <p>For any technical assistance or support-related queries, our dedicated customer support team is available to assist you. Please reach out to us via email or phone, and we'll get back to you as soon as possible.</p>

  <p>We appreciate your interest in TweetVibe and thank you for being a part of our vibrant community!</p>
{% endblock content %}